@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.709), rgba(20, 20, 20, 0.728)), url(imagens/academia.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    width: 100vw;
    height: 7vh;
    background: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding-top: 10px;
}

.logo {
    font-size: 1.4em;
    letter-spacing: 0.3em;
    cursor: pointer;
}

.menu-content .list-items {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    padding-top: 20px;
    font-size: 0.7em;
}

.menu-content .list-items a{
    text-decoration: none;
    color: #ffffff;
    padding: 1em;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-items a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(255, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-items a:hover:before{
    width: 100%;
}

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-text {
    width: 80vw;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    color: #ffffff;
}

.second-text {
    margin-bottom: 2em;
    font-size: 1em;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.btn button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ffffff9d;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2em;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btn button:hover{
    color: rgb(251, 255, 0);
    border: none;
}

.btn button:before {
    content: '';
    border-radius: 20px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 0%;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btn button:hover:before {
    width: 100%;
}

